.productdetails{
    padding: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

@media screen and (max-width: 600px){
    .productdetails{
        flex-direction: column;
        padding:100px 15px;
    }
}

