/* feature product */
.feature-product{
    padding:104px 60px 87px 60px;
  }
  .feature-product h2{
    text-align: center;
    color:rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  }
  .feature-product p{
    text-align: center;
    color:rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 22px;  
  }
  .center-feature{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rectangle-img{
    margin: 79px 0 104px 0;
    width: 100%;
    gap: 16px;
  }
  
  .rectangle-img .feature-1{
    width: 50%;
    height: 348px;
    border-radius: 4px;
    background-image: url('../assets/Rectangle 9.svg'); 
  }
  .rectangle-img .feature-1 h4,
  .rectangle-img .feature-2 h4{
    padding: 32px 0 0 32px;
    font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.7);
  }
  .rectangle-img .feature-1 button,
  .rectangle-img .feature-2 button{
    border:none ;
    outline: none;
    margin:18px 0 0 32px;
    padding: 14px 58px 14px 58px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    background:rgba(255, 255, 255, 1);
    color: rgba(79, 112, 91, 1);
    border-radius: 8px;
    cursor: pointer;
  }
  .rectangle-img .feature-2{
    width: 50%;
    height: 348px;
    border-radius: 4px;
    background-image: url('../assets/Frame 79.svg');
  }
  .rectangle-img .feature-1,
  .rectangle-img .feature-2{
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .rectangle-img .feature-2 p{
    font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding:0 48% 0 32px;
  text-align: left;
  } 
  @media screen and (max-width: 1024px) {
    .feature-product{
      padding:104px 40px 87px 40px;
    }
  }
  @media screen and (max-width: 912px) {

      .feature-product{
        padding:30px 30px 0 30px;
    }
    .rectangle-img .feature-1,
    .rectangle-img .feature-2{
      width: 100%;
      height: 250px;
      border-radius: 8px;
    }
    .rectangle-img .feature-1 h4,
    .rectangle-img .feature-2 h4{
      font-size: 20px;
      padding: 18px 0 0 13px;
    }
    .rectangle-img .feature-1 p,
    .rectangle-img .feature-2 p{
    font-size: 16px;
    padding: 0 0 0 13px;
    }
    .rectangle-img .feature-2 p{
      padding:0 45% 0 13px;
      margin-bottom: 8px;
    }
    .rectangle-img .feature-1 button,
    .rectangle-img .feature-2 button{
      margin:16px 0 0 13px;
    
    }
      
  }

  @media screen and (max-width: 768px) {

      .rectangle-img .feature-1 button,
      .rectangle-img .feature-2 button{
        margin:0 0 0 13px;
     padding: 10px 30px 10px 30px;
    font-weight: 400;
    line-height: 16.2px;
      }
      .rectangle-img .feature-1 h4,
      .rectangle-img .feature-2 h4{
        font-size: 16px;
        padding: 18px 38% 0 13px;
      }
  }

  @media screen and (max-width: 600px) {

      .feature-product{
        padding:62px 20px 0 20px;
    }

    .center-feature{
      margin-top: -20px;
    }
      .rectangle-img .feature-1,
      .rectangle-img .feature-2{
        width: 100%;
        height: 153px;
        border-radius: 8px;
      }
      .rectangle-img .feature-1 h4,
      .rectangle-img .feature-2 h4{
        font-size: 16px;
        padding: 18px 0 0 13px;
      }
      .rectangle-img .feature-1 p,
      .rectangle-img .feature-2 p{
    font-size: 8px;
    font-weight: 400;
    line-height: 14px;
    padding: 0 0 0 13px;
      }
      .rectangle-img .feature-2 p{
        padding:0 48% 0 13px;
        margin-bottom: 8px;
      }
      .rectangle-img .feature-1 button,
      .rectangle-img .feature-2 button{
        margin:0 0 0 13px;
     padding: 8px 24px 8px 24px;
     font-family: Satoshi;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.2px;
      }
  }
  .product-list_feature{
    margin: 80px 0;
  }
