*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Satoshi;
}
.times{
  display: none;
}
/* HomePage styles */
.cta-remark{
  padding: 8px, 60px, 8px, 60px;
  background: rgba(79, 112, 91, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta-remark p{
  padding: 8px, 60px, 8px, 60px;
  Line-height:21.6px;
  font-weight: 500;
  font-family: Satoshi;
}

.hero-container, footer{
  background: #EFF0F2;
}

.hero-content,.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content{
  padding-left: 60px;
}
.hero-content .content h1, 
footer .content h1{
  color: rgba(0, 0, 0, 1);
  font-family: Satoshi;
font-size: 52px;
font-weight: 700;
line-height: 60px;
/* padding-right: 10%; */
}
.hero-content .content span,
.footer-content .content span{
  color: rgba(0, 0, 0, 0.15);
font-size: 16px;
font-weight: 700;
line-height: 28px;
text-align: left;

}
.hero-content .content p,
.footer-content .content p{
  color: rgba(0, 0, 0, 0.7);
  font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.hero-content .content button,
.footer-content .content button{
  background: rgba(79, 112, 91, 1);
padding: 15px 58px;
outline: none;
border: none;
gap: 10px;
border-radius: 8px;
opacity: 0px;
color: #F4F6F4;
margin-top: 32px;
}

.hero-img img{
  width: 800px;
  height:100%;
}

/* navBar styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07)
}
nav .logo img{
  width: 40px;
}
nav ul{
  gap: 40px;
  border: none;
}
.search-mobile{
  display: none;
}
nav ul,nav .nav-item-right, 
nav .nav-item-right .search,
.carousel-card .star,
.rectangle-img{
  display: flex;
  align-items: center;
}
.burger-menu{
  display: none;
}
nav .nav-item-right .search{
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  padding: 5px;
  gap: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2)
}
nav .nav-item-right .search input{
  border: none;
  border-color: none;
  outline: hidden;
  background: transparent;
}

input:focus{
  outline: none;
  border: none;
}
input::placeholder {
  color: rgba(0, 0, 0, 1); 
  font-size: 12px; 
  font-weight: 500; 
  font-style: Satoshi; 
  line-height: 16.2px;
}
nav .nav-item-right img,
nav .nav-item-right .search img{
  width: 20px;
}

nav ul li,.inActive{
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  color: rgba(0, 0, 0, 0.7);
  /* padding-right: 40px; */
}
ul li.hover-action a{
  text-decoration: none;
  color: inherit;
}

.hover-action{
  display: flex;
  align-items: center;
  position: relative;
  
}
.hover-action img{
  display: none;
}
.hover-action:hover{
  color:rgba(0, 0, 0, 1);
  cursor: pointer;
}
.hover-action:hover::before{
  content:"";
  width:100%;
  height: 2px;
  /* color:rgb(60, 149, 238,0.5); */
  position: absolute;
  bottom: -5px;
  left: 1.8px;
  background: rgba(0, 0, 0, 1);;
  transition: all 0.8s ease;
}
.active{
  color:rgba(0, 0, 0, 1);
}
.active::before{
  content:"";
  width:100%;
  height: 2px;
  /* color:rgb(60, 149, 238,0.5); */
  position: absolute;
  bottom: -5px;
  left: 1.8px;
  background: rgba(0, 0, 0, 1);
}
.cart-total{
  position: relative;
}
.cart-box{
  width:10px;
  height: 10px;
  border-radius: 50%;
  /* color:rgb(60, 149, 238,0.5); */
  position: absolute;
  top:-5px;
  right: 0;
  background:rgba(255, 59, 48, 1);
}

/* hover style */
/* font-family: Satoshi;
font-size: 12px;
font-weight: 700;
line-height: 16.2px;
text-align: left;
color:rgba(0, 0, 0, 1); */
nav .nav-item-right{
  gap:24px;
}



/* feature product */
.feature-product{
  padding:104px 0 87px 60px;
}
.feature-product h2{
  text-align: center;
  color:rgba(0, 0, 0, 1);
font-size: 24px;
font-weight: 700;
line-height: 32.4px;
}
.feature-product p{
  text-align: center;
  color:rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 22px;  
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle-img{
  margin: 79px 0 104px 0;
width: 100%;
gap: 16px;
}

.rectangle-img .feature-1{
  width: 49%;
  height: 348px;
  border-radius: 4px;
  background-image: url('./assets/Rectangle 9.svg'); 
}
.rectangle-img .feature-1 h4,
.rectangle-img .feature-2 h4{
  padding: 32px 0 0 32px;
  font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 32px;
color: rgba(0, 0, 0, 0.7);
}
.rectangle-img .feature-1 button,
.rectangle-img .feature-2 button{
  border:none ;
  outline: none;
  margin:18px 0 0 32px;
  padding: 14px 58px 14px 58px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
  background:rgba(255, 255, 255, 1);
  color: rgba(79, 112, 91, 1);
  border-radius: 8px;
  cursor: pointer;
}
.rectangle-img .feature-2{
  width: 49%;
  height: 348px;
  border-radius: 4px;
  background-image: url('./assets/Frame 79.svg');
}
.rectangle-img .feature-1,
.rectangle-img .feature-2{
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.rectangle-img .feature-2 p{
  font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding:0 48% 0 32px;
text-align: left;
} 
/* CarouselComponent styles */
.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  width: 100%;
  /* padding:0 20px; */
  /* margin: auto; */
}

.carousel-item {
  padding: 4rem 0;
}

.carousel-card {
  /* background: #fff; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}
.carousel-card button{
  display: none; /* Initially hide the button */
}
.slick-center .carousel-card button {
  display: flex; /* Show the button when the card is centered */
}
.slick-center .carousel-card button{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border: none;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid rgba(79, 112, 91, 0.5);
  background: rgba(255, 255, 255, 1);
}
.carousel-card button img{
  width: 16px;
}
.carousel-card button span{
  font-family: Satoshi;
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(79, 112, 91, 1);  
}
.card-details-container{
  padding: 16px 0;
  width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.card-details-container p{
  margin: 0;
}
.carousel-card .card-details-container .star{
  /* margin-top: -10px;
  margin-bottom: 10px; */
  justify-content: center;
}
.carousel-card .star img{
  width: 12.33px;
  height: 12.33px;
  box-shadow: none;
}
.slick-center .carousel-card {
  transform: scale(1.2);
  z-index: 1;
}

.carousel-card img {
   width: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  

  /* width: 100%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.carousel-card h3 {
  /* margin-top: 16px; */
  color: rgba(0, 0, 0, 1);
font-size: 16px;
font-weight: 700;
line-height: 21.6px;
}
.carousel-card p {
  color: rgba(0, 0, 0, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 21.6px;
}

.carousel-card p {
  /* padding: 0 10px 10px; */
  color: #555;
}
/* Add these styles to your CSS */
.slick-dots li button:before {
  font-size: 12px;
  color: #d8d8d8; /* Default dot color */
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  font-size: 16px;
  color: black; /* Active dot color */
  font-weight: bold; /* Bold active dot */
  opacity: 1;
}


/* footer */
footer .footer-img img{
  border-radius: 8px;
  padding: 80px 0;
}
footer .content h1{
  padding-right: 10%;
}
.footer-content .content p{
  padding-right: 28%;
}
footer .footer-remark{
  text-align: center;
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.02em;
color:rgba(0, 0, 0, 0.3);
padding: 47px 0 34px 0;
}

/* nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 60px;
} */
@media screen and (max-width: 1024px) {
  nav{
    padding-left: 40px;
    padding-right: 40px;
  }
  .feature-product{
    padding:104px 0 87px 40px;
  }
  footer .footer-img img{
    width: 450px;
  }
  .content{
    padding-left: 40px;
  }
  .hero-img img{
    width: 500px;
    height:100%;
  }
  .hero-content .content h1, 
footer .content h1{
  font-size: 48px;
}
.hero-content .content button, 
footer .content button{
margin-top: 16px;
}

}
@media screen and (max-width: 912px) {
  .search-mobile input{
    outline: none;
    border: none;
    background: transparent;
  }
  nav .nav-item-right .search{
    display: none;
  }
 

  .hero-content,.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-content .content,
  .footer-content .content{
    padding:20px;
    margin-top:24px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-content .content h1,
  .footer-content .content h1{
    font-family: Satoshi;
font-size: 45px;
font-weight: 900;
padding:0 40px;
text-align: center;

  }
  .hero-content .content p,
  .footer-content .content p{
    font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
padding:2% 20%;
  }
  .hero-content .content button,
  .footer-content .content button{
    padding: 20px 80px;
    font-size: 18px;
  }
  .hero-content .hero-img{
    padding: 30px;
  }
  .hero-content .hero-img img{
    margin: 30px 0;
    width: 100%;
  }
  .feature-product{
    padding:30px 30px 0 30px;
}
.rectangle-img .feature-1,
.rectangle-img .feature-2{
  width: 100%;
  height: 250px;
  border-radius: 8px;
}
.rectangle-img .feature-1 h4,
.rectangle-img .feature-2 h4{
  font-size: 20px;
  padding: 18px 0 0 13px;
}
.rectangle-img .feature-1 p,
.rectangle-img .feature-2 p{
font-size: 16px;
padding: 0 0 0 13px;
}
.rectangle-img .feature-2 p{
  padding:0 45% 0 13px;
  margin-bottom: 8px;
}
.rectangle-img .feature-1 button,
.rectangle-img .feature-2 button{
  margin:16px 0 0 13px;

}
}
@media screen and (max-width: 768px) {
  .rectangle-img .feature-1 button,
  .rectangle-img .feature-2 button{
    margin:0 0 0 13px;
 padding: 10px 30px 10px 30px;
font-weight: 400;
line-height: 16.2px;
  }
  .rectangle-img .feature-1 h4,
  .rectangle-img .feature-2 h4{
    font-size: 16px;
    padding: 18px 38% 0 13px;
  }
  
}

@media screen and (max-width: 600px) {
  .cta-remark p{
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
  }
  
  nav ul.hidden{
    display: none;
    transition: all 0.8s ease;
  }
  nav ul.open{
    display: block;
    transition: all 0.8s ease;
  }
  nav .open img.times{
    display: block;
    width: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  nav{
    position: relative;
    padding: 0;
    border-bottom: none;
  }
  nav ul{
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 50px 0 0 20px;
    transition: all 0.8s ease;
  }
  nav ul li{
    margin-bottom:20px;
  }
  .nav-container {
    padding:0 20px;
    padding-top: 16px;
  }
  .search-mobile{
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding: 8.5px;
    gap: 8px;
    border-radius:8px ;
    border: 1px solid rgba(0, 0, 0, 0.2)
  }
  .search-mobile input{
    outline: none;
    border: none;
    background: transparent;
  }
  nav .nav-item-right .search{
    display: none;
  }
  .burger-menu{
    display: block;
  }
  .hover-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul img.time{
    width: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .hero-content,.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-content .content,
  .footer-content .content{
    padding:20px;
    margin-top:24px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-content .content h1,
  .footer-content .content h1{
    font-family: Satoshi;
font-size: 24px;
font-weight: 700;
line-height: 32.4px;
text-align: center;
  }
  .hero-content .content p,
  .footer-content .content p{
    font-family: Satoshi;
font-size: 12px;
font-weight: 400;
line-height: 20px;
padding: 0;
text-align: center;
  }
  .hero-content .hero-img{
    margin: 0 0;
    padding: 20px;
  }
  .hero-content .hero-img img{
    width: 100%;
  }
  .feature-product{
      padding:62px 20px 0 20px;
  }
  .carousel-container {
    width: 100%;
    padding:0 0;
    /* margin: auto; */
  }
  .carousel{
    margin: 0;
  }
  .slick-dots {
    display: none;
  }

  .carousel-card button {
    padding: 8px 5px;
    display: flex !important;
    gap: 2px;
    border-radius: 4px; 
    align-items: center;
    border: 1px solid rgba(79, 112, 91, 0.5);
    background: rgba(255, 255, 255, 1);
  }
.carousel-card button span{
  font-family: Satoshi;
font-size: 8px;
font-weight: 700;
line-height: 10.8px;
color: rgba(79, 112, 91, 1);
}
.carousel-card button img{
  width: 12px;
}
  .carousel-item {
    width: 100%;
    padding: 0;
  }
  
  .slick-center .carousel-card {
    transform: scale(1.2); /* Make the focused card bold */
    z-index: 2; /* Ensure it overlays others */
  }

  .carousel-card {
    width: 120px;
    transform: scale(0.9);
    align-items: start;
    transition: transform 0.3s ease-in-out;
  }
  .card-details-container{
    padding: 8px 0;
    align-items: start;
    flex-direction: column;
  }
  .card-details-container h3{
    font-family: Satoshi;
    font-size: 10px;
    font-weight: 900;
    line-height: 13.5px;
    order: 1;
    flex: 1;
  }
  .card-details-container p{
    font-family: Satoshi;
    font-size: 8px;
    font-weight: 400;
    line-height: 10.8px;
    color: (0, 0, 0, 0.7);
    order: 2;
    flex: 1;    
  }
  .card-details-container .star{
    order: 3;
    flex:1;
  }
  .slick-list{
    height:auto;
  }
  .rectangle-img{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px 0 60px 0;
  }
  
  .rectangle-img .feature-1,
  .rectangle-img .feature-2{
    width: 100%;
    height: 153px;
    border-radius: 8px;
  }
  .rectangle-img .feature-1 h4,
  .rectangle-img .feature-2 h4{
    font-size: 16px;
    padding: 18px 0 0 13px;
  }
  .rectangle-img .feature-1 p,
  .rectangle-img .feature-2 p{
font-size: 8px;
font-weight: 400;
line-height: 14px;
padding: 0 0 0 13px;
  }
  .rectangle-img .feature-2 p{
    padding:0 48% 0 13px;
    margin-bottom: 8px;
  }
  .rectangle-img .feature-1 button,
  .rectangle-img .feature-2 button{
    margin:0 0 0 13px;
 padding: 8px 24px 8px 24px;
 font-family: Satoshi;
font-size: 12px;
font-weight: 700;
line-height: 16.2px;
  }
  
  footer{
    padding: 20px;
  }
  footer .footer-content .content p{
    padding: 0;
  }
 
  footer .footer-img img{
    width: 100%;
    padding: 0;
  }
  
  
}

  /* Adjust the carousel-card size for smaller screens */
  @media screen and (max-width: 480px) {
  .carousel-card {
    transform: scale(0.9); /* Adjust the scale for smaller screens */
  }


  .slick-center .carousel-card {
    transform: scale(1); /* Ensure center card is slightly larger */
  }
}

@media screen and (max-width: 360px) {
  .carousel-card {
    transform: scale(0.8); /* Adjust the scale for very small screens */
  }

  .slick-center .carousel-card {
    transform: scale(0.9); /* Ensure center card is slightly larger */
  }
}